.color-font-menu {
  color: #424242;
}
@media (min-width: 992px) {
  .margin-left-5 {
    margin-left: 5%;
  }
}

@media (min-width: 992px) {
  .bg-footer {
    background-image: url(../imagens/bg-pattern-footer-desktop.svg);
  }
}

.footer-icon-margin {
  margin-right: 7%;
}

h3 {
  font-size: 15px;
}
